<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Remark</key>
	<string>白色皮肤</string>
	<key>status</key>
	<dict>
		<key>Remark</key>
		<string>状态栏颜色</string>
		<key>status_bar_default</key>
		<dict>
			<key>Remark</key>
			<string>Status-正常颜色</string>
			<key>Color</key>
			<string>#000000</string>
		</dict>
	</dict>
	<key>block</key>
	<dict>
		<key>block_tab_bg</key>
		<dict>
			<key>Remark</key>
			<string>块-tab-背景色</string>
			<key>Color</key>
			<string>#242B36</string>
		</dict>
		<key>block_bg</key>
		<dict>
			<key>Remark</key>
			<string>块-背景</string>
			<key>Color</key>
			<string>#F2F2F2</string>
		</dict>
		<key>block_activity_indicator</key>
		<dict>
			<key>Remark</key>
			<string>ActivityIndicator-颜色</string>
			<key>Color</key>
			<string>#666666</string>
		</dict>
		<key>block_orange</key>
		<dict>
			<key>Remark</key>
			<string>块-橙色</string>
			<key>Color</key>
			<string>#FF8200</string>
		</dict>
		<key>block_pageControl_current</key>
		<dict>
			<key>Remark</key>
			<string>UIPageControl选中背景色</string>
			<key>Color</key>
			<string>#FF8200</string>
		</dict>
		<key>block_pageControl_normal</key>
		<dict>
			<key>Remark</key>
			<string>UIPageControl未选中背景色</string>
			<key>Color</key>
			<string>#E5E5E5</string>
		</dict>
	</dict>
	<key>text</key>
	<dict>
		<key>text_h1</key>
		<dict>
			<key>Remark</key>
			<string>文字-主/标题</string>
			<key>Color</key>
			<string>#333333</string>
		</dict>
		<key>text_placeholder</key>
		<dict>
			<key>Remark</key>
			<string>文字-输入框预设</string>
			<key>Color</key>
			<string>#C9C9CA</string>
		</dict>
		<key>text_orange</key>
		<dict>
			<key>Remark</key>
			<string>文字-橙色</string>
			<key>Color</key>
			<string>#FF8200</string>
		</dict>
	</dict>
	<key>line</key>
	<dict/>
</dict>
</plist>
